body {
    background: linear-gradient(to left, #7167f7 , #ffe7b7 );
    align-items:center;
}
h1 {
    color:blanchedalmond;
    font-family: 'Segoe UI', sans-serif;
    font-size: 36px;
    text-align: center;
    text-shadow: 2px 2px #aaa;
}
p{
    font-size: 18px;
    color: #e8ec01;
}
button {
    background-color: #71a7d6;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s;
}
button:hover {
    transform: scale(1.1);
    background-color:aliceblue;
}
input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid  #71a7d6;
    width: 250px;
    margin-bottom: 15px;
}
